.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



@font-face {
    font-family: Anton;
    src: url('../public/font-family/Anton-Regular.ttf') ;
}

.font-Anton {
    font-family: Anton;
}
@font-face {
    font-family: Handy;
    src: url('../public/font-family/Estonia-Regular.ttf');
}

.font-Handy {
    font-family: Handy;
}
#root{
  min-height: 100vh;
}

@font-face {
    font-family: Handy2;
    src: url('../public/font-family/BadScript-Regular.ttf') ;
}
.font-Handy2 {
    font-family: Handy2;
}